name: CI
on:
  pull_request:
  merge_group:
jobs:
  test:
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        include:
          - target: x86_64-unknown-linux-gnu
            os: ubuntu-latest
            rust: stable
          - target: x86_64-unknown-linux-musl
            os: ubuntu-latest
            rust: stable
          - target: aarch64-unknown-linux-gnu
            os: ubuntu-24.04-arm
            rust: stable
          - target: aarch64-unknown-linux-musl
            os: ubuntu-24.04-arm
            rust: stable
    steps:
      - name: Checkout
        uses: actions/checkout@v5
      - name: Install rust
        uses: dtolnay/rust-toolchain@stable
        with:
          targets: ${{ matrix.target }}
      - name: Ready cache
        run: sudo chown -R "$(whoami):$(id -ng)" ~/.cargo/
      - name: Test
        run: cargo test --target ${{ matrix.target }}
