name: Publish
on:
  push:
    tags:
      - '*'

jobs:
  build:
    name: Publish binaries
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        include:
          - target: x86_64-unknown-linux-musl
            os: ubuntu-latest
            rust: stable
          - target: aarch64-unknown-linux-musl
            os: ubuntu-24.04-arm
            rust: stable
          - target: armv7-unknown-linux-musleabihf
            os: ubuntu-latest
            rust: stable
            cross: true
          - target: i686-unknown-linux-musl
            os: ubuntu-latest
            rust: stable
            cross: true
          - target: powerpc64le-unknown-linux-gnu
            os: ubuntu-latest
            rust: stable
            cross: true
          - target: s390x-unknown-linux-gnu
            os: ubuntu-latest
            rust: stable
            cross: true
          - target: riscv64gc-unknown-linux-gnu
            os: ubuntu-latest
            rust: stable
            cross: true
    steps:
      - name: Checkout
        uses: actions/checkout@v6
      - name: Install rust
        uses: dtolnay/rust-toolchain@stable
        with:
          targets: ${{ matrix.target }}
      - name: Install cross
        if: matrix.cross
        uses: taiki-e/install-action@cross
      - name: Build (native)
        if: ${{ !matrix.cross }}
        run: cargo build --release --target ${{ matrix.target }} --locked
      - name: Build (cross)
        if: matrix.cross
        run: cross build --release --target ${{ matrix.target }} --locked
      - name: Package
        run: |
          version=$(basename "${{ github.ref }}")
          install -D "target/${{ matrix.target }}/release/cntr" "dist/cntr-bin-$version-${{ matrix.target }}"
      - name: Upload binaries to release
        uses: svenstaro/upload-release-action@v2
        with:
          repo_token: ${{ secrets.GITHUB_TOKEN }}
          file: dist/*
          tag: ${{ github.ref }}
          overwrite: true
          file_glob: true

  publish-crate:
    name: Publish to crates.io
    runs-on: ubuntu-latest
    needs: build
    steps:
      - name: Checkout
        uses: actions/checkout@v6
      - name: Install rust
        uses: dtolnay/rust-toolchain@stable
      - name: Create vendored source tarball
        run: |
          version=$(basename "${{ github.ref }}")
          depsname="cntr-src-$version"
          mkdir "$depsname"
          git archive HEAD | tar -x -C "$depsname"
          cargo vendor
          mv vendor "$depsname/"
          tar -czvf "$depsname.tar.gz" "$depsname"
      - name: Upload source tarball to release
        uses: svenstaro/upload-release-action@v2
        with:
          repo_token: ${{ secrets.GITHUB_TOKEN }}
          file: cntr-src-*.tar.gz
          tag: ${{ github.ref }}
          overwrite: true
          file_glob: true
      - name: Publish to crates.io
        uses: katyo/publish-crates@v2
        with:
          registry-token: ${{ secrets.CARGO_REGISTRY_TOKEN }}
